version: '3.8'

services:
  app:
    build: .
    ports:
      - "${APP_PORT}:5000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/sql_scripts

volumes:
  postgres_data:
